body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  position: relative;
}

.top-container{
  background-color: #d6e5fa;
  padding-top: 100px;
}

.middle-container{
  padding-top: 50px;
  background-color: #5c6e91;

}

.bottom-container{
  padding-top: 10px;
  background-color: #d6e5fa;
}

.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  /*line-height: 1;*/
}

h1{
  color: #595b83;
  font-size: 5.6250rem;       /*16px= 100%= 1em*/
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2{
  font-size: 1.50rem;
  font-family: 'Source Sans Pro', sans-serif;

}

/*h3{

}*/

.contact-me{
  padding: 50px;
}

.bottom-cloud{
  position: absolute;
  top: 200px;
  right: 450px;
}

.top-cloud{
  position: absolute;
  left: 450px;
  top: 50px;
}

.coder-img{
  width: 25%;
}

/*.grapher-img{
  width: 25%;
  margin-left: 350px;
}*/

.pro{
  font-weight: normal;
  color: #5c6e91;
}

#webd{
  width: 25%;
  position: absolute;
  right: 300px;
  bottom: 500px;

}
